<!DOCTYPE html>
@using CGit.Models;
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>CGit</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/myFollow.css">
</head>
<body>
    <div class="jumbotron">
        <div style="margin-left: 5%">
            <h1>
                我的关注
            </h1>
            <p>

            </p>
        </div>
    </div>
    <div class="container">
        <div class="col-md-9 column">
            <div class="tabbable">
                <ul class="nav nav-tabs">
                    <li>
                        <a href="#followUser" data-toggle="tab">用户</a>
                    </li>
                    <li class="active">
                        <a href="#followProject" data-toggle="tab">项目</a>
                    </li>
                </ul>
                <!--关注用户开始-->
                <div class="tab-content">
                    <div class="tab-pane" id="followUser">
                        <ul>
                            @if (((List<User>)ViewData["userList"]) != null)
                            {
                                foreach (var user in ((List<User>)ViewData["userList"]))
                                {
                                    <li style="border-bottom: 1px solid #eee;">
                                        <h2>
                                            <a href="~/User/userHome?email=@user.email">@user.name</a>
                                        </h2>
                                        <p class="overHidden">
                                            @user.resume
                                        </p>
                                    </li>
                                }
                            }
                            else
                            {
                                <div style="color:#666;" align="center">还没有关注用户！</div>
                            }
                        </ul>
                    </div>
                    <!--关注用户结束-->
                    <!--关注项目开始-->
                    <div class="tab-pane active" id="followProject">
                        <ul>
                            @if (((List<Repository>)ViewData["repositoryList"]) != null)
                            {
                                foreach (var repository in ((List<Repository>)ViewData["repositoryList"]))
                                {
                                    <li style="border-top: 1px solid #eee;">
                                        <h2>
                                            <a href="~/User/userHome?email=@repository.email">@repository.email</a>/<a href="~/Project/projectFiles?repositoryId=@repository.id">@repository.name</a>
                                        </h2>
                                        <p class="overHidden">
                                            @repository.describe
                                        </p>
                                        <p>
                                            <span class="repo-language-color ml-0" style="background-color:#555555;"></span>
                                            语言 :@repository.language &nbsp&nbsp&nbsp
                                        </p>
                                    </li>
                                }
                            }
                            else
                            {
                                <div style="color:#666;" align="center">还没有关注仓库！</div>
                            }
                        </ul>
                        <div id="callBackPager"></div>
                    </div>
                    <!--关注项目结束-->
                </div>
            </div>
        </div>
        <div class="col-md-3 column">
            <h3 style="margin-left: 50px">可能感兴趣的</h3>
            <div class="repositories">
                <div><a class="text-bold" href="projectFiles.html">我的项目</a></div>
                <div class="smaill-text"><span>afasdfasdfasdfasdfasdfasdasdfasdf</span></div>
                <div>
                    <span class="repo-language-color" style="background-color:#563d7c;"></span>Java
                </div>
            </div>
            <div class="repositories">
                <div><a class="text-bold" href="projectFiles.html">我的项目</a></div>
                <div class="smaill-text"><span>afasdfasdfasdfasdfasdfasdasdfasdf</span></div>
                <div>
                    <span class="repo-language-color" style="background-color:#563d7c;"></span>Java
                </div>
            </div>
            <div class="repositories">
                <div><a class="text-bold" href="projectFiles.html">我的项目</a></div>
                <div class="smaill-text"><span>afasdfasdfasdfasdfasdfasdasdfasdf</span></div>
                <div>
                    <span class="repo-language-color" style="background-color:#563d7c;"></span>Java
                </div>
            </div>
            <div class="repositories">
                <div><a class="text-bold" href="projectFiles.html">我的项目</a></div>
                <div class="smaill-text"><span>afasdfasdfasdfasdfasdfasdasdfasdf</span></div>
                <div>
                    <span class="repo-language-color" style="background-color:#563d7c;"></span>Java
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/jquery-3.1.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
</body>
</html>