<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>CGit</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/userHome.css">
    <link rel="stylesheet" href="~/cropper/cropper.css">
</head>
<body>
    @{
        //判断是否是当前用户
        bool isCurrentUser = ((CGit.Models.User)ViewData["user"]).email.Equals(((CGit.Models.User)Session["loginUser"]).email);
    }
    <div class="container frist">
        <div class="row clearfix">
            <!--左边空位-->
            <div class="col-md-1 column"></div>
            <!--中间内容-->
            <div class="col-md-10 column">
                <!--个人信息区开始-->
                <div class="col-md-4 column">
                    <a href="#" data-toggle="modal" data-target="#uploadImg">
                        <img class="rounded" height="230" src="~/img/user/@(((CGit.Models.User)ViewData["user"]).email).png" width="230">
                    </a>
                    <h1 class="vcard-names">
                        <span class="vcard-fullname d-block">@(((CGit.Models.User)ViewData["user"]).name)</span>
                        <span class="vcard-username d-block">@(((CGit.Models.User)ViewData["user"]).email)</span>
                    </h1>
                        <!--disabled按钮不可用 display:none不显示-->
                       
                        @if (isCurrentUser) {
                            //如果查找的用户不是当前登录的用户
                            <button type = "button" disabled class="btn btn-default btn-long">关注</button>
                        }
                        else
                        {//待增加（如果这个用户已经被关注的话需要在进行判断是否可以关注)
                            <button type="button" disabled class="btn btn-default btn-long">关注</button>
                        }
                    <hr/>
                    <div style="color: #6A737D">
                        <svg aria-hidden="true" height="16" width="12">
                            <path fill-rule="evenodd"
                                  d="M6 0C2.69 0 0 2.5 0 5.5 0 10.02 6 16 6 16s6-5.98 6-10.5C12 
                                  2.5 9.31 0 6 0zm0 14.55C4.14 12.52 1 8.44 1 5.5 1 3.02 3.25 1 6 1c1.34 0 2.61.48 3.56 
                                  1.36.92.86 1.44 1.97 1.44 3.14 0 2.94-3.14 7.02-5 9.05zM8 5.5c0 1.11-.89 2-2 2-1.11 
                                  0-2-.89-2-2 0-1.11.89-2 2-2 1.11 0 2 .89 2 2z"></path>
                        </svg>
                        @(((CGit.Models.User)ViewData["user"]).area)
                    </div>
                    <hr/>
                    <p>
                        @(((CGit.Models.User)ViewData["user"]).resume)
                    </p>
                    @if (isCurrentUser)
                        //如果查找的用户不是当前登录的用户就不显示
                    {
                        <button style="margin-top: 10px" class="btn btn-default btn-long" data-toggle="modal"
                                data-target="#modifyPwd">
                            修改密码
                        </button>
                    }
                </div>
                <!--个人信息区结束-->

                <div class="col-md-8 column">
                    <div>
                        <div>
                            <span style="font-size: 24px;">个人仓库</span>
                            <button type="button" data-toggle="modal" data-target="#newRepository"
                                    style="float: right; margin-right: 8px" class="btn btn-default ">
                                @if (isCurrentUser)
                                {
                                    <span class="glyphicon glyphicon-edit icon"></span> <span>新建仓库</span>
                                }
                            </button>
                        </div>
                        <hr/>
                        <!--遍历list-->
                        @if (ViewBag.repositoryList != null)//如果有仓库
                        {
                            foreach (var repository in ViewBag.repositoryList)
                            {
                                <div class="repositories">
                                    <div><a class="text-bold" href="~/Project/projectFiles?id=@repository.id">@repository.name</a></div>
                                    <div class="smaill-text"><span>@repository.describe</span></div>
                                    <div>
                                        <span class="repo-language-color" style="background-color:#563d7c;"></span>@repository.language
                                        <span class="glyphicon glyphicon-star" style="margin-left: 10px"></span>1111<!--待改为从数据库中查找的值-->
                                        @if (isCurrentUser)
                                            //如果查找的用户不是当前登录的用户就不显示
                                        {
                                            <a class="float-right" href="~/User/deleteRepository?id=@repository.id">删除仓库</a>
                                        }
                                    </div>
                                </div>
                            }
                        }
                        else {//如果没有仓库
                            <div style="color:#666;" align="center">还没有仓库，快去创建一个仓库吧！</div>
                        }
                    </div>
                </div>
            </div>
            <!--右边空位-->
            <div class="col-md-1 column"></div>
        </div>
    </div>


    <!--以下都是模态框-->
    @if (isCurrentUser)//如果查找的用户不是当前登录的用户就不显示
    {
        <!-- 修改密码模态框（Modal） -->
        <div class="modal fade" id="modifyPwd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">修改密码</h4>
                    </div>
                    <div class="modal-body" align="center">
                        <div class="margin">
                            旧 密 码 ：
                            <input type="password" id="oldPwd" placeholder="请输入旧密码...">
                        </div>
                        <div class="margin">
                            新 密 码 ：
                            <input type="password" id="newPwd" placeholder="请输入要修改的密码...">
                        </div>
                        <div class="margin">
                            确认密码：
                            <input type="password" id="confirmPwd" placeholder="请输入确认密码...">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" id="updatePwd">提交更改</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
        <!-- 新建仓库模态框（Modal） -->
        <div class="modal fade" id="newRepository" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">新建仓库</h4>
                    </div>
                    <form action="~/User/addRepository" method="post">
                        <div class="modal-body" align="center">
                            <div class="margin">仓库名：<input type="text" name="repository.name" placeholder="请输入仓库名..."></div>
                            <div class="margin">描述 ：<input type="text" name="repository.describe" placeholder="请简要描述..."></div>
                            <div class="margin">语言 ：<input type="text" name="repository.language" placeholder="请输入语言..."></div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button type="submit" class="btn btn-primary">创建</button>
                        </div>
                    </form>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
        <!-- 上传头像模态框（Modal） -->
        <div class="modal fade" id="uploadImg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">上传头像</h4>
                    </div>
                    <div class="modal-body" align="center">
                        <div class="container" style="width: 80%">

                            <img id="imgPreview" src="/img/user/@(((CGit.Models.User)Session["loginUser"]).email).png" width="200" height="200" />
                            <div>
                                <input type="file" id="imgSelect" value="选择头像" accept="image/*" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" id="upload">上传</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
    }
    <script src="~/js/jquery-3.1.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/cropper/cropper.js"></script>
    <script src="~/js/userHome.js"></script>
</body>
</html>