<!DOCTYPE html>
<html lang="en">
@using CGit.Models;
<head>
    <meta charset="UTF-8">
    <title>CGit</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <script src="~/js/jquery-3.1.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/css/projectFiles.css">
</head>
<body>
<div class="row clearfix">
    @{
        //判断是否是当前用户
        bool isCurrentUser = false;
        //判断是否是当前用户
        if (((CGit.Models.User)Session["loginUser"]) == null)
        {
            isCurrentUser = false;
        }
        else
        {
            isCurrentUser = (((CGit.Models.User)ViewData["user"]).email).Equals(((CGit.Models.User)Session["loginUser"]).email);
        }
    }
    <!--左边空位-->
    <div class="col-md-2 column">
    </div>
    <div class="col-md-8 column">
        <div style="color: #0e90d2;font-size: 18px;margin-bottom: 20px;margin-top: 50px">
            <svg aria-hidden="true" height="16" version="1.1" viewBox="0 0 12 16" width="12">
                <path fill-rule="evenodd"
                      d="M4 9H3V8h1v1zm0-3H3v1h1V6zm0-2H3v1h1V4zm0-2H3v1h1V2zm8-1v12c0 .55-.45 1-1 1H6v2l-1.5-1.5L3 16v-2H1c-.55 0-1-.45-1-1V1c0-.55.45-1 1-1h10c.55 0 1 .45 1 1zm-1 10H1v2h2v-1h3v1h5v-2zm0-10H2v9h9V1z"></path>
            </svg>
            <a href="~/User/userHome?email=@(((User)ViewData["user"]).email)">@(((User)ViewData["user"]).email)</a>
            <span style="color: #0e0e0e;margin:0 4px 0 4px">/</span>
            <a href="~/Project/projectFiles?repositoryId=@(((Repository)ViewData["repository"]).id)">
                @(((Repository)ViewData["repository"]).name)
            </a>
            @if (!isCurrentUser)
            {
                <button type="button" style="float: right;height: 30px" class="btn btn-default">
                    <span class="glyphicon glyphicon-star"></span>
                    <span>关注</span>
                </button>
            }
            else
            {
                <button type="button" disabled style="float: right;height: 30px" class="btn btn-default">
                    <span class="glyphicon glyphicon-star"></span>
                    <span>关注</span>
                </button>
            }
        </div>
        <hr />
        <div>
            <span style="font-size: 24px">教材管理系统</span>
            <button type="button" id="addComment" data-toggle="modal" data-target="#addComment" style="float: right; margin-right: 8px"
                    class="btn btn-default ">
                <span class="glyphicon glyphicon-edit icon"></span>添加评论
            </button>
        </div>
        <hr />
        <!-- -->
        <div>
            @if (ViewData["commnets"] != null)
            {
                foreach (var comment in (List<Comment>)ViewData["commnets"])
                {
                        <div>
                            <div class="commit-tease">
                                <img height="20" src="~/img/user/@(comment.userEmail).png" width="20">
                                <a href="~/User/userHome?email=@(comment.userEmail)" style="margin-top: 2px">@(comment.userEmail)</a>
                                <span>@comment.title</span>
                                <span style="float: right">提交时间：@comment.data</span>
                            </div>
                            <div class="commentLine">
                                @comment.content
                            </div>
                        </div>
                }
            }
            else
            {
                <div style="color:#666;" align="center">还没有评论，快去抢占</div>
            }
        </div>
        <div class="col-md-2 column">
        </div>
    </div>
    <!-- 添加评论模态框（Modal） -->
    <div class="modal fade" id="addComment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">添加评论</h4>
                </div>
                <form action="~/Comment/addComment" method="post">
                    <input type="hidden"  name="comment.repositoryId" value="@(((Repository)ViewData["repository"]).id)"/>
                    <input type="hidden" name="comment.userEmail" value="@(((User)ViewData["user"]).email)" />

                    <div class="modal-body" align="center">
                        <div class="margin">标题：<input type="text" name="comment.title" placeholder="请输入标题..."></div>
                        <textarea name="comment.content" style="resize: none;margin-top: 10px" required wrap="soft" cols=70 rows=20></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-primary">提交</button>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
</div>
@if (((CGit.Models.User)Session["loginUser"]) == null)
{
    <script type="text/javascript">
        $("#addComment").click(function() {
            window.parent.location.href = "/Home/login";
        })
    </script>
}
</body>
</html>
